extends ../layouts/dashboard

block content
    // Dashboard Content
    .utf-dashboard-content-container-aera(data-simplebar='')
        #dashboard-titlebar.utf-dashboard-headline-item
            .row
                .col-xl-12
                    h3 My Profile
                    nav#breadcrumbs
                        ul
                            li
                                a(href='index-1.html') Home
                            li
                                a(href='dashboard.html') Dashboard
                            li My Profile
        .utf-dashboard-content-inner-aera
            form#update-profile-form(method='post' action='/dashboard/profile' enctype='multipart/form-data')
                .row
                    .col-xl-12
                        .dashboard-box.margin-top-0.margin-bottom-30
                            .headline
                                h3 My Profile Details
                            .content.with-padding.padding-bottom-0
                                .row
                                    .col
                                        .row
                                            .col-12
                                                if errors
                                                    .notification.error
                                                        each error in errors
                                                            p= error.message
                                            .col-xl-12
                                                .row
                                                    .col-xl-5.col-md-3.col-sm-4
                                                        .utf-avatar-wrapper(data-tippy-placement='top' title='Change Profile Picture')
                                                            img.profile-pic(src= (employer && employer.profilePic ? employer.profilePic : '/images/user-avatar-placeholder.png') alt='')
                                                            .upload-button
                                                            input.file-upload(type='file' accept='image/*' name='profilePic')
                                                    .col-xl-7.col-md-9.col-sm-8
                                                        .utf-submit-field
                                                            h5 Name
                                                            input.utf-with-border(type='text' placeholder='John' name='name' value=(employer ? employer.name : ''))
                                                        .utf-submit-field
                                                            h5 Website
                                                            input.utf-with-border(type='text' placeholder='Williams' name='website' value=(employer ? employer.website : ''))
                                                        .utf-submit-field
                                                            h5 Email Address
                                                            input.utf-with-border(type='text' placeholder='john@example.com' name='email' value=(employer ? employer.email : ''))
                                                        .utf-submit-field
                                                            h5 Phone Number
                                                            input.utf-with-border(type='text' placeholder='(+22) 1201 123-456' name='phone' value=(employer ? employer.phone : ''))
                                            .col-xl-12.col-md-6.col-sm-6
                                                .utf-submit-field
                                                    h5 Description
                                                    input.utf-with-border(type='text' placeholder='123 Main Street, New York, NY 10001' name='address' value=(employer ? employer.address : ''))
                                            .col-xl-12.col-md-6.col-sm-6
                                                .utf-submit-field
                                                    h5 Province
                                                    select.selectpicker.utf-with-border(data-size='10' title='Select Province' name='provinceId' data-live-search="true")
                                                        each province in provinces
                                                            option(value=province.id selected=(employer ? employer.provinceId === province.id : false))= province.name
                                            .col-xl-12.col-md-12.col-sm-12
                                                .utf-submit-field
                                                    h5 Description
                                                    textarea.utf-with-border(name='bio' cols='20' rows='3' placeholder='Describe yourself')= (employer ? employer.bio : '')
                                button#save-button.button.ripple-effect.big.margin-top-10.margin-bottom-20(type='submit') Save Changes
            // Footer
            .utf-dashboard-footer-spacer-aera
            .utf-small-footer.margin-top-15
                .utf-small-footer-copyrights Copyright &copy; 2021 All Rights Reserved.
    // Dashboard Content / End

block scripts
    script.
        $(document).ready(function () {
            $('#update-profile-form').submit(function (e) {
                $('#save-button').prop('disabled', true);
                $('#save-button').html('<i class="fas fa-spinner fa-spin"></i> Saving...');
                e.preventDefault();
                const form = $(this);
                const formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        iziToast.success({
                            title: 'Success',
                            message: data.message,
                        });
                    },
                    error: function (err) {
                        console.log(err);
                        iziToast.error({
                            title: 'Error',
                            message: err.responseJSON.message,
                        });
                    },
                    complete: function () {
                        $('#save-button').prop('disabled', false);
                        $('#save-button').html('Save Changes');
                    }
                });
            });
        });

