extends ../layouts/dashboard

block content
  // Dashboard Content
  .utf-dashboard-content-container-aera(data-simplebar='')
    #dashboard-titlebar.utf-dashboard-headline-item
      .row
        .col-xl-12
          h3 Dashboard
          nav#breadcrumbs
            ul
              li
                a(href='index-1.html') Home
              li Dashboard
    .utf-dashboard-content-inner-aera
      h1 hello
  // Dashboard Content End
