// Footer
#footer
  .utf-footer-section-item-block
    .container
      .row
        .col-xl-4.col-md-12
          .utf-footer-item-links
            a(href='index-1.html')
              img.footer-logo(src='images/footer_logo.png' alt='')
            p
              | Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when unknown printer took a galley type scrambled.
        .col-xl-2.col-md-3.col-sm-6
          .utf-footer-item-links
            h3 Job Categories
            ul
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Developement
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Designing
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Marketing
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Data Analytics
              li
                a(href='#')
                  i.icon-feather-chevron-right
                  span Post New Job
        .col-xl-2.col-md-3.col-sm-6
          .utf-footer-item-links
            h3 Job Type
            ul
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Work from Home
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Internship Job
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Freelancer Job
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Part Time Job
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Full Time Job
        .col-xl-2.col-md-3.col-sm-6
          .utf-footer-item-links
            h3 Resources
            ul
              li
                a(href='#')
                  i.icon-feather-chevron-right
                  span My Account
              li
                a(href='#')
                  i.icon-feather-chevron-right
                  span Support
              li
                a(href='#')
                  i.icon-feather-chevron-right
                  span How It Works
              li
                a(href='#')
                  i.icon-feather-chevron-right
                  span Underwriting
              li
                a(href='#')
                  i.icon-feather-chevron-right
                  span Employers
        .col-xl-2.col-md-3.col-sm-6
          .utf-footer-item-links
            h3 Quick Links
            ul
              li
                a(href='jobs-list-layout-leftside.html')
                  i.icon-feather-chevron-right
                  span Jobs Listing
              li
                a(href='about-us.html')
                  i.icon-feather-chevron-right
                  span About Us
              li
                a(href='contact.html')
                  i.icon-feather-chevron-right
                  span Contact Us
              li
                a(href='privacy-policy.html')
                  i.icon-feather-chevron-right
                  span Privacy Policy
              li
                a(href='terms-condition.html')
                  i.icon-feather-chevron-right
                  span Term & Condition
  // Footer Copyrights
  .utf-footer-copyright-item
    .container
      .row
        .col-xl-12 Copyright © 2021 All Rights Reserved.
  // Footer Copyrights / End
// Footer / End
