// Header Container
header#utf-header-container-block
  #header
    .container
      .utf-left-side
        #logo
          a(href='index-1.html')
            img(src='images/logo.png' alt='')
        nav#navigation
          ul#responsive
            li
              a.current(href='#') Home
              ul.dropdown-nav
                li.active
                  a(href='index-1.html')
                    i.icon-feather-chevron-right
                    |  Home Version One
                li
                  a(href='index-2.html')
                    i.icon-feather-chevron-right
                    |  Home Version Two
                li
                  a(href='index-3.html')
                    i.icon-feather-chevron-right
                    |  Home Version Three
                li
                  a(href='index-4.html')
                    i.icon-feather-chevron-right
                    |  Home Version Four
            li
              a(href='#') Find Jobs
              ul.dropdown-nav
                li
                  a(href='#')
                    i.icon-feather-chevron-right
                    |  Browse Jobs
                  ul.dropdown-nav
                    li
                      a(href='jobs-list-layout-leftside.html')
                        i.icon-feather-chevron-right
                        |  Jobs List Left Sidebar
                    li
                      a(href='jobs-list-layout-rightside.html')
                        i.icon-feather-chevron-right
                        |  Jobs List Right Sidebar
                    li
                      a(href='jobs-listing-with-map.html')
                        i.icon-feather-chevron-right
                        |  Jobs List With Map
                li
                  a(href='browse-companies.html')
                    i.icon-feather-chevron-right
                    |  Browse Companies
                li
                  a(href='single-job-page.html')
                    i.icon-feather-chevron-right
                    |  Jobs Detail Page
                li
                  a(href='single-company-profile.html')
                    i.icon-feather-chevron-right
                    |  Company Profile Detail
                li
                  a(href='#')
                    i.icon-feather-chevron-right
                    |  Freelancer Tasks
                  ul.dropdown-nav
                    li
                      a(href='freelancers-bidding-tasks-list.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Bidding Task
                    li
                      a(href='freelancers-user-list-layout.html')
                        i.icon-feather-chevron-right
                        |  Freelancer User List
                    li
                      a(href='single-freelancers-task-page.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Task Detail
                    li
                      a(href='single-freelancer-profile.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Profile Detail
            li
              a(href='#') User Panel
              ul.dropdown-nav
                li
                  a(href='dashboard.html')
                    i.icon-feather-chevron-right
                    |  Dashboard
                li
                  a(href='dashboard-jobs-post.html')
                    i.icon-feather-chevron-right
                    |  Manage Jobs Post
                li
                  a(href='dashboard-manage-jobs.html')
                    i.icon-feather-chevron-right
                    |  Manage Jobs
                li
                  a(href='dashboard-manage-resume.html')
                    i.icon-feather-chevron-right
                    |  Manage Resume
                li
                  a(href='dashboard-bookmarks.html')
                    i.icon-feather-chevron-right
                    |  Bookmarks Jobs
                li
                  a(href='dashboard-manage-tasks.html')
                    i.icon-feather-chevron-right
                    |  Freelancer Tasks
                  ul.dropdown-nav
                    li
                      a(href='dashboard-freelancer-manage-tasks-list.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Manage Tasks
                    li
                      a(href='dashboard-manage-bidders-list.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Manage Bidders
                    li
                      a(href='dashboard-freelancer-active-bids.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Active Bids
                    li
                      a(href='dashboard-freelancer-add-post-bids.html')
                        i.icon-feather-chevron-right
                        |  Freelancer Post Bids
                li
                  a(href='dashboard-reviews.html')
                    i.icon-feather-chevron-right
                    |  Reviews
                li
                  a(href='dashboard-my-profile.html')
                    i.icon-feather-chevron-right
                    |  My Profile
            li
              a(href='#') Pages
              ul.dropdown-nav
                li
                  a(href='about-us.html')
                    i.icon-feather-chevron-right
                    |  About Us
                li
                  a(href='login.html')
                    i.icon-feather-chevron-right
                    |  Login
                li
                  a(href='register.html')
                    i.icon-feather-chevron-right
                    |  Sign Up
                li
                  a(href='checkout-page.html')
                    i.icon-feather-chevron-right
                    |  Order Checkout
                li
                  a(href='order-confirmation.html')
                    i.icon-feather-chevron-right
                    |  Order Confirmation
                li
                  a(href='invoice-template.html')
                    i.icon-feather-chevron-right
                    |  Invoice Template
                li
                  a(href='user-elements.html')
                    i.icon-feather-chevron-right
                    |  User Elements
                li
                  a(href='icons-cheatsheet.html')
                    i.icon-feather-chevron-right
                    |  Icons Cheatsheet
                li
                  a(href='faq-page.html')
                    i.icon-feather-chevron-right
                    |  FAQ Page
                li
                  a(href='pages-404.html')
                    i.icon-feather-chevron-right
                    |  404 Page
            li
              a(href='#') Blog
              ul.dropdown-nav
                li
                  a(href='blog-right-sidebar.html')
                    i.icon-feather-chevron-right
                    |  Blog List Right Sidebar
                li
                  a(href='blog-left-sidebar.html')
                    i.icon-feather-chevron-right
                    |  Blog List Left Sidebar
                li
                  a(href='blog-post-right-sidebar.html')
                    i.icon-feather-chevron-right
                    |  Blog Detail Right Sidebar
                li
                  a(href='blog-post-left-sidebar.html')
                    i.icon-feather-chevron-right
                    |  Blog Detail Left Sidebar
            li
              a(href='contact.html') Contact
        .clearfix
      .utf-right-side
        .utf-header-widget-item
          a.popup-with-zoom-anim.log-in-button(href='#utf-signin-dialog-block')
            i.icon-feather-log-in
            span Sign In
        .utf-header-widget-item
          .utf-header-notifications.user-menu
            .utf-header-notifications-trigger.user-profile-title
              a(href='#')
                .user-avatar.status-online
                  img(src='images/user_small_1.jpg' alt='')
                .user-name Hi, John!
            .utf-header-notifications-dropdown-block
              ul.utf-user-menu-dropdown-nav
                li
                  a(href='dashboard.html')
                    i.icon-material-outline-dashboard
                    |  Dashboard
                li
                  a(href='dashboard-jobs-post.html')
                    i.icon-line-awesome-user-secret
                    |  Manage Jobs Post
                li
                  a(href='dashboard-manage-jobs.html')
                    i.icon-material-outline-group
                    |  Manage Jobs
                li
                  a(href='dashboard-bookmarks.html')
                    i.icon-material-outline-star-border
                    |  Bookmarks Jobs
                li
                  a(href='dashboard-my-profile.html')
                    i.icon-feather-user
                    |  My Profile
                li
                  a(href='index-1.html')
                    i.icon-material-outline-power-settings-new
                    |  Logout
        span.mmenu-trigger
          button.hamburger.utf-hamburger-collapse-item(type='button')
            span.utf-hamburger-box-item
              span.utf-hamburger-inner-item
.clearfix
// Header Container / End
