.utf-dashboard-sidebar-item
  .utf-dashboard-sidebar-item-inner(data-simplebar='')
    .utf-dashboard-nav-container
      // Responsive Navigation Trigger
      a.utf-dashboard-responsive-trigger-item(href='#')
        span.hamburger.utf-hamburger-collapse-item
          span.utf-hamburger-box-item
            span.utf-hamburger-inner-item
        span.trigger-title Dashboard Navigation Menu
      // Navigation
      .utf-dashboard-nav
        .utf-dashboard-nav-inner
          .dashboard-profile-box
            span.avatar-img
              img.photo(alt='' src='/images/user-avatar-placeholder.png')
            .user-profile-text
              span.fullname= user.username
              span.user-role= user.email
          .clearfix
          ul
            li
              a(href='/dashboard')
                i.icon-material-outline-dashboard
                |  Dashboard
            li
              a(href='/dashboard/profile')
                i.icon-line-awesome-user-secret
                |  Manage Profile
            li
              a(href='/dashboard/cv')
                i.icon-line-awesome-user-secret
                |  Manage CV
            li
              a(href='/dashboard/job')
                i.icon-line-awesome-user-secret
                |  Manage Job Post