doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='author' content='')
        meta(name='theme-color' content='#ff8a00')
        meta(name='description' content='Job Portal HTML Template')
        meta(name='keywords' content='Employment, Naukri, Shine, Indeed, Job Posting, Job Provider')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= title
        // Favicon
        link(rel='shortcut icon' href='/images/favicon.png')
        // CSS
        link(rel='stylesheet' href='/css/bootstrap-grid.css')
        link(rel='stylesheet' href='/css/icons.css')
        link(rel='stylesheet' href='/css/style.css')
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
        // iziToast
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css')
        block styles
    body
        include ../partials/preloader
        // Wrapper

        #wrapper
            include ../partials/header
            .utf-dashboard-container-aera
                include ../partials/sidebar
                block content

        block modals
        //scripts
        script(src='/js/jquery-3.3.1.min.js')
        script(src='/js/jquery-migrate-3.0.0.min.js')
        script(src='https://kit.fontawesome.com/135c4d96ce.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js')
        script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js')
        script(src='/js/mmenu.min.js')
        script(src='/js/tippy.all.min.js')
        script(src='/js/simplebar.min.js')
        script(src='/js/bootstrap-slider.min.js')
        script(src='/js/bootstrap-select.min.js')
        script(src='/js/snackbar.js')
        script(src='/js/clipboard.min.js')
        script(src='/js/counterup.min.js')
        script(src='/js/magnific-popup.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/custom_jquery.js')
        script(src='/js/chart.min.js')
        script.
            $(document).ready(function() {
                var url = window.location.pathname.replace(/\/$/, "");
                var activePage = url.substring(url.lastIndexOf('/') + 1);
                $('.utf-dashboard-nav ul li a').each(function() {
                    var linkPage = this.href.substring(this.href.lastIndexOf('/') + 1);
                    if (activePage == linkPage) {
                        $(this).parent().addClass('active');
                    }
                });
            });
        block scripts