extends ../layouts/main

block content
  include ../partials/title_bar.pug
  +title-bar(title)

  // Page Content
  .container
    .row
      .col-xl-6.offset-xl-3
        .utf-login-register-page-aera.margin-bottom-50
          .utf-welcome-text-item
            h3 Welcome Back Sign in to Continue
            span
              | Don't Have an Account? 
              a(href='/register') Sign Up!
          form#login-form(method='post' action=`/login?redirect=${redirect}`)
            .utf-no-border
              input#emailaddress.utf-with-border(type='text' name='email' placeholder='Email Address' required='' value='me@phuc.to')
            .utf-no-border
              input#password.utf-with-border(type='password' name='password' placeholder='Password' required='' value='password')
            .checkbox.margin-top-10
              input#two-step(type='checkbox')
              label(for='two-step')
                span.checkbox-icon
                |  Remember Me
            a.forgot-password(href='forgot-password.html') Forgot Password?
          button.button.full-width.utf-button-sliding-icon.ripple-effect.margin-top-10(type='submit' form='login-form')
            | Log In 
            i.icon-feather-chevron-right
          .utf-social-login-separator-item
            span Or Login in With
          .utf-social-login-buttons-block
            button.facebook-login.ripple-effect
              i.icon-brand-facebook-f
              |  Facebook
            button.google-login.ripple-effect
              i.icon-brand-google
              |  Google+
            button.twitter-login.ripple-effect
              i.icon-brand-twitter
              |  Twitter
