extends ../layouts/main

block content
  include ../partials/title_bar.pug
  +title-bar(title)
  
  // Page Content
  .container
    .row
      .col-xl-6.offset-xl-3
        .utf-login-register-page-aera.margin-bottom-50
          .utf-welcome-text-item
            h3 Create Your New Account!
            span
              | Don't Have an Account? 
              a(href='login.html') Log In!
          .utf-account-type
            div
              input#freelancer-radio.utf-account-type-radio(type='radio' name='utf-account-type-radio' checked='')
              label.utf-ripple-effect-dark(for='freelancer-radio' title='Employer' data-tippy-placement='top')
                i.icon-material-outline-business-center
                |  Employer
            div
              input#employer-radio.utf-account-type-radio(type='radio' name='utf-account-type-radio')
              label.utf-ripple-effect-dark(for='employer-radio' title='Candidate' data-tippy-placement='top')
                i.icon-material-outline-account-circle
                |  Candidate
          form#utf-register-account-form(method='post')
            .utf-no-border
              input#name-register.utf-with-border(type='text' name='name-register' placeholder='User Name' required='')
            .utf-no-border
              input#emailaddress-register.utf-with-border(type='text' name='emailaddress-register' placeholder='Email Address' required='')
            .utf-no-border.margin-bottom-18
              select.selectpicker.utf-with-border(data-size='5' title='Select Jobs')
                option Web Designer
                option Web Developer
                option Graphic Designer
                option Android Developer
                option IOS Developer
                option UI/UX Designer
                option Graphics Designer
            .utf-no-border
              input#password-register.utf-with-border(type='password' name='password-register' placeholder='Password' required='')
            .utf-no-border
              input#password-repeat-register.utf-with-border(type='password' name='password-repeat-register' placeholder='Repeat Password' required='')
            .checkbox.margin-top-10
              input#two-step0(type='checkbox')
              label(for='two-step0')
                span.checkbox-icon
                |  I Have Read and Agree to the 
                a(href='#') Terms & Conditions
          button.button.full-width.utf-button-sliding-icon.ripple-effect.margin-top-10(type='submit')
            | Create An Account 
            i.icon-feather-chevron-right
